<div class="gradient-blue-bg layout-full-page-content">
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mx-auto">
      <h1 class="text-white text-center pb-5">Create Valuation</h1>
      <div class="form-group">
        <label for="searchProperty" class="text-white">Enter an address, city, state, zip code</label>
        <div class="input-group left-icon">
                            <span class="input-group-addon input-icon">
                                <span class="fa fa-search"></span>
                            </span>
          <input aria-label="search property" class="form-control" id="searchProperty">
          <div class="input-group-btn">
            <button class="btn btn-default text-uppercase">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
